
@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url("./fonts/BebasNeue-Regular.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Fondamento";
    src: url("./fonts/Fondamento-Regular.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Monsterrat";
    src: url("./fonts/MontserratSubrayada-Regular.woff");
}

@font-face {
    font-family: "Carrois";
    src: url("./fonts/CarroisGothicSC-Regular.woff");
}

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/CormorantUnicase-Medium.woff");
}

@font-face {
    font-family: "Kulim";
    src: url("./fonts/KulimPark-Light.woff");
}

body {
    background-color: wheat;
    font-family: "Kulim";
}

.block {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    padding: 30px;
    background-color: blanchedalmond;
    border: burlywood 10px solid;
    box-sizing: border-box;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

.half-transparent {
    opacity: 0.5;
}

.heading {
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    height: 50px;
    border: 1px black dotted;
    padding: 20px 0px 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px;
}

.pale {
    font-style: italic;
    color: rgb(46, 45, 45);
    margin: 20px;
    padding: 0px;
}


.square {
    width: 100%;
}

.recourse {
    height: 50px;
    width: 300px;
    border-radius: 25px;
    border: none;
    background-color: rgb(168, 194, 243);
    cursor: pointer;
}

button {
    transition-duration: 0.4s;
    font-family: 'Carrois';
    font-size: 20px;
    color: rgb(3, 26, 70);
    margin: 0px 0px 10px;
}
  
button:hover {
    background-color: #92e295; /* Green */
    color: white;
}

.goal {
    height: 500px;
}

.green {
    background-color: #a2dd7b;
    color: rgb(29, 60, 61);
}

.warning {
    font-size: 35px;
    font-weight: bold;
}

p {
    margin: 10px;
    padding: 0px;
}

.white-background {
    width: 800px;
    background-color: white;
}

@media screen and (max-device-width: 800px) {
    .block {
        min-width: 95%;
        font-size: 40px;
    }

    .description {
        font-size: 30px;
    }

    .heading {
        font-size: 50px;
        padding: 40px 0px 50px;
    }

    h2 {
        font-size: 50px;
    }

    .recourse {
        min-width: 700px;
        min-height: 100px;
        font-size: 37px;
    }

    .pale {
        font-size: 32px;
    }
    
}